# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.KTPO4310.Shelehov.UnitTest.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
